
.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 20px; 
  }
  
  .form-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #0056b3; 
    color: #ffffff; 
    text-align: center;
    text-decoration: none; 
    border-radius: 5px; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
    
    justify-content: center; 
    align-items: center; 
    margin-left: 900px; 
  }
  
  .form-button:hover {
    background-color: #003d7a; 
    cursor: pointer; 
  }
  
  